html {
    font-size: 16px;
    line-height: 23px;
}
body {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.main-content {
    flex-basis: 70%;
}

.main-left-nav {
    flex-basis: 30%;
}

ul li {
    line-height: 1.7em;
}

@media screen and (max-width: 740px) {
    .main-wrapper {
        flex-direction: column;
        gap: 30px;
    }
}